main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface {
  border: 1px solid #bababa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 450px;
}

.interface button {
  border: 1px solid #bababa;
  padding: 1.5rem;
}

.orange-btn {
  background-color: #f5913e;
}

.result {
  padding: 2rem;
  background-color: #858694;
  color: #fff;
  text-align: right;
  grid-column: 1/ span 4;
}

.zero {
  grid-column: 1/ span 2;
}
